# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
images/tshell.jpg
images/Thatcham_South Fields_2013-05-06_22.jpg
images/Thatcham_South Fields_2012-08-01_25.jpg
images/Thatcham_South Fields_2012-08-01_19.jpg
images/Thatcham_Church_2012-08-11_28.jpg
images/profile/wadmiral.jpg
images/profile/tshell.jpg
images/profile/swhite.jpg
images/profile/speckled.jpg
images/profile/sblue.jpg
images/profile/ringlet.jpg
images/profile/reptile.jpg
images/profile/radmiral.jpg
images/profile/peacock.jpg
images/profile/otip.jpg
images/profile/marbled.jpg
images/profile/lskipper.jpg
images/profile/grizzled.jpg
images/profile/gatekeeper.jpg
images/profile/fly.jpg
images/profile/dragonfly.jpg
images/profile/damsel.jpg
images/profile/copper.jpg
images/profile/comma.jpg
images/profile/cbrown.jpg
images/profile/cblue2.jpg
images/profile/cblue.jpg
images/profile/catapiller.jpg
images/profile/brimstone.jpg
images/profile/ablue.jpg
images/peacock1.jpg
images/peacock.jpg
images/Magdalan_Hill_2013-06-30_88.jpg
images/Greenham_Common_2012-08-18_23.jpg
images/Decoy_Heath_2013-06-02_64.jpg
images/Decoy_Heath_2013-06-02_41.jpg
images/cblue.jpg
images/Butterfly_Alley_2014-05-12_7.jpg
images/Butterfly_Alley_2014-05-12_2.jpg
images/Bowden_Woods_2012-07-08_69.jpg
images/Blackmoor_Copice_2013-05-27_11.jpg
images/Bentley_Station Meadow_2013-07-08_86.jpg
images/Bentley_Station Meadow_2013-07-08_7.jpg
images/Bentley_Station Meadow_2013-07-08_123.jpg
images/Bentley_Station Meadow_2013-07-01_16.jpg
images/Bentley_Station Meadow_2013-06-03_159.jpg
images/Bentley_Station Meadow_2013-06-03_135.jpg
images/Bentley_Station Meadow_2012-07-26_63.jpg
images/Bentley_Station Meadow_2012-07-26_45.jpg
images/Bentley_Station Meadow_2012-07-26_30.jpg
images/Bentley_Station Meadow_2012-07-26_12.jpg
