

page-sighting-extra-detail {

  .item-md .item-button {
    width: 40px !important;
    height: 40px !important;
  }

  
}

.ios, .md {

    page-sighting-extra-detail {

      .scroll {
        height: 100%
      }

      #map {
        width: 100%;
        height: 100%;
      }

    }

}

.toast-success {
  > div{
       background-color:#32db64!important;
   }
}

.toast-warning {
  > div{
       background-color:#db4b32!important;
   }
}

ion-select {
  max-width: 100%;
}
