page-sightings-for-creature-stats {
    .select {
        max-width: 100%;
        padding-left: 0px;
    }

    .label-hdr {
        display: none;
    }

    .table ion-label {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .chart {
        margin-top: 10px;
    }
}
