<!--
  Generated template for the SightingsForCreatureStatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Stats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list>
    <ion-item>
        <ion-label class="label-hdr">Stat Type</ion-label>
      <ion-select class="select" value="perYear" okText="Okay" cancelText="Dismiss" [(ngModel)]="tableToShow">
        <ion-option value="perYear">Sightings By Year</ion-option>
        <ion-option value="perMonth">Sightings By Month</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item-divider></ion-item-divider>
    <!-- <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="perYear">
          <ion-label>Sightings Per Year</ion-label>
        </ion-segment-button>
        <ion-segment-button value="enemies">
          <ion-label>Enemies</ion-label>
        </ion-segment-button>
        <ion-segment-button value="enemies">
            <ion-label>Enemies 2</ion-label>
          </ion-segment-button>
          <ion-segment-button value="enemies">
              <ion-label>test</ion-label>
            </ion-segment-button>
            <ion-segment-button value="enemies">
                <ion-label>yrdhdfgdfg</ion-label>
              </ion-segment-button>
      </ion-segment> -->

      <!-- <table class="table table-striped" >
        <tr>
          <th>Year</th>
          <th>Total</th>
        </tr>

        <tr *ngFor="let year of stats.sightingsPerYear">
            <td>{{year.year}}</td>
            <td>{{year.total}}</td>
          </tr>
      </table> -->

      <canvas baseChart class="chart" *ngIf="tableToShow == 'perYear' && stats.sightingsPerYear && stats.sightingsPerYear.length > 0" 
        [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>

      <ion-list class="table" *ngIf="tableToShow == 'perYear' && stats.sightingsPerYear && stats.sightingsPerYear.length == 0">
        <ion-item>
          No Sightings to report on
        </ion-item>
      </ion-list>

      <ion-list class="table" *ngIf="tableToShow == 'perYear' && stats.sightingsPerYear && stats.sightingsPerYear.length > 0">
          <ion-item>
              <ion-row>
                <ion-col>Year</ion-col>
                <ion-col>Total</ion-col>
              </ion-row>
          </ion-item>
          <ion-item *ngFor="let row of stats.sightingsPerYear"  (click)="viewSightingsForYear(creature, row.year)">
            <ion-row>
              <ion-col>{{row.year}}</ion-col>
              <ion-col>{{row.total}} <ion-icon  float-right name="arrow-dropright"></ion-icon></ion-col>
              
            </ion-row>
              
          </ion-item>
        </ion-list>

        <canvas baseChart class="chart" *ngIf="tableToShow == 'perMonth' && stats.sightingsPerMonth && stats.sightingsPerMonth.length > 0" 
        [data]="doughnutChartData" 
        [labels]="doughnutChartLabels" 
        [chartType]="doughnutChartType"
        [options]="doughnutChartOptions">
        </canvas>

        <ion-list class="table" *ngIf="tableToShow == 'perMonth' && stats.sightingsPerMonth && stats.sightingsPerMonth.length == 0">
            <ion-item>
              No Sightings to report on
            </ion-item>
          </ion-list>

        <ion-list class="table" *ngIf="tableToShow == 'perMonth' && stats.sightingsPerMonth && stats.sightingsPerMonth.length > 0">
          <ion-item>
              <ion-row>
                <ion-col>Month</ion-col>
                <ion-col>Total</ion-col>
              </ion-row>
          </ion-item>
          <ion-item *ngFor="let row of stats.sightingsPerMonth" (click)="viewSightingsForMonth(creature, row.month)">
            <ion-row>
              <ion-col>{{getMonthName(row.month)}}</ion-col>
              <ion-col>{{row.total}} <ion-icon  float-right name="arrow-dropright"></ion-icon></ion-col>
              
            </ion-row>
              
          </ion-item>
        </ion-list>

        
</ion-content>
