<!--
  Generated template for the SightingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Sighting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
      <ion-item *ngFor="let class of classes">
        <ion-thumbnail item-start>
          <img src="{{wildlifeProvider.imageBaseUrl + class.imageName}}" *ngIf="class.imageName">
        </ion-thumbnail>
        <h2>{{class.name}}</h2>
        <p>More info</p>
        <button ion-button clear item-end (click)="viewDetail(class.id)">View</button>
      </ion-item>
    </ion-list>

</ion-content>
