page-sighting-detail {

    .creature {
        padding-left: 0px;
    }

    .qty-button {
        width: 38px !important;
        height: 38px !important;
    }

    ion-icon {
        font-size: 2.2em !important;
      }
}
