<!--
  Generated template for the CreatureListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Creatures</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-button [outline] = "orderMode != 'name'" (click)="orderMode = 'name'">
      Name
    </button>
    <button ion-button [outline] = "orderMode != 'family'" (click)="orderMode = 'family'">
      Family
    </button>

    <ng-container *ngFor="let class of classes">
      <ion-list class="list-no-margin">
        <ion-item  text-wrap (click)="expandItem(class)" class="class-list">
          <div>{{class.name}}</div>
          <ion-icon color="success" item-right [name]="class.expanded ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        </ion-item>
          <ion-list *ngIf="class.expanded">
            <ion-item *ngFor="let creature of class.creatures | sortCreatures: {property: orderMode, order: 1}" text-wrap class="creature" (click)="viewDetail(creature, $event)">
              {{creature.name}}
          
            </ion-item>
          </ion-list>
      </ion-list>
    </ng-container>
    
  
    <!-- <ion-list>
        <ion-list-header *ngFor="let class of classes" (click)="expandItem(class)">
            Ionic 2 Accordion Example.
          </ion-list-header>

        <expandable [expandHeight]="itemExpandHeight" [expanded]="class.expanded">
      
              <ion-item *ngFor="let creature of class.creatures" >
                <ion-thumbnail item-start>
                  <img src="{{wildlifeProvider.imageBaseUrl + creature.imageName}}" *ngIf="class.imageName">
                </ion-thumbnail>
                
                <button ion-button clear item-end (click)="viewDetail(class.id)">View</button>
              </ion-item>
       
        </expandable>

    </ion-list> -->
    
</ion-content>
